:root {
  --theme-color-orange: #ff5e00;
  --theme-color-yellow: #ffd400;
  --theme-color-cyan: #00fff3;
  --theme-color-light-blue: #0089ff;
  --theme-color-blue: #005aff;
  --theme-color-magenta: #fb00ff;
  --theme-color-red: #ff0000;

  --theme-color-orange-transparent: #ff5e0038;
  --theme-color-yellow-transparent: #ffd40038;
  --theme-color-cyan-transparent: #00fff338;
  --theme-color-light-blue-transparent: #0089ff38;
  --theme-color-blue-transparent: #005aff38;
  --theme-color-magenta-transparent: #fb00ff38;
  --theme-color-red-transparent: #ff000038;

  --theme-color: var(--theme-color-orange);
  --theme-color-transparent: var(--theme-color-orange-transparent);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  overflow: hidden;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  /* Styles for tablets and desktops */
  .top-bar {
	display: grid;
	align-items: center;
	background-color: #20232a;
	grid-template-columns: 250px auto;
	position: fixed;
	height: 3.5%;
  }
  .top-bar-left-area {
	width: 250px; /* Same width as layer controls */
	height: 3.5%;
	position: fixed;
	background: #20232a;
  }
  .composition-controls {
	height:95%;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 6px;
  }
  .layer-control-button {
	padding: 2px 6px;
	outline: 1px solid var(--theme-color);
	cursor: pointer;
	text-align: center;
	font-size: 1em;
	border-radius: 5px;
	align-items: center;
  }
  .master-intensity-slider {
	width: 4rem;
	position: fixed;
	left: 104px;
	top: 0.7%;
  }
  .container {
	position: absolute;
	width: 75px;
	height: 95%;
	left: 168px;
	top: 0;
	align-items: center;
	display: flex;
  } 
  .top-bar-right-area {
	height: 3.5%;
	display: flex;
	max-width: calc(100% - 18rem);
	overflow-x: hidden;
	position: absolute;
	width: calc(100% - 18rem - 250px);
	left: 250px;
  }
  .layer-controls-container {
	width: 250px;
	max-height: 565px;
	background-color: #20232a;
	border-right: 1px solid #3a3f47;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 3.5%;
	height: 60%;
	overflow: hidden;
  }
  .layer-controls {
	width: 100%; /* Fixed width to match left-panel */
	height: 100%; /* Fixed height to match clip height */
	padding-top: 8px;
	padding-bottom: 5px;
	background-color: #20232a;
	display: grid;
	grid-template-columns: 38% 7% 53%; /* X and (B&S) */
	grid-template-rows: 5rem 1rem; /* Rows for X/BS, Blend/I, Preview/Name */
	align-items: center;
  }
  .grid-layer {
	width: 6rem; /* Match left-panel width */
	height: 100%; /* Fixed height to match clip height */
	display: grid;
	grid-template-columns: 2.9rem 2.9rem; /* X and (B&S) */
	grid-template-rows: 33% 33% 33%; /* Rows for X/BS, Blend/I, Preview/Name */
	align-items: center;
	padding-left: 5px;
  }
  .layer-control-row {
	margin-left: 2px;
  }
  .layer-preview-thumbnail {
	height: 100%;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.7em;
	position: relative;
	overflow: hidden;
	margin-left: 5px;
	border-radius: 5px;
  }
  .layer-name-label {
	font-size: 0.8em;
	font-weight: bold;
	grid-column: span 3;
	text-align: center;
	outline: solid 1px var(--theme-color);
	border-radius: 5px;
	cursor: pointer;
	margin-top: 3px;
  }
  .clip-deck-container {
	position: fixed;
	left: 250px;
	display: flex;
	width: calc(100% - 18rem - 250px);
  }
  .clip-deck {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden; /* Allow horizontal scrolling for columns */
	background: #20232a;
	height: 60%;
  }
  .layer-row {
	display: flex;
	height: 100%; /* Fixed height for each layer row */
  }
  .clip {
	width: 11.8%; /* Fixed width for clips */
	height: 101px; /* Fixed height for clips */
	margin-left: 2px;
	margin-right: 2px;
	background-color: #3a3f47;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 3px;
	border-radius: 5px;
	margin-bottom: 4px;
	margin-top: 2px;
  }
  .clip-thumbnail {
	width: 98%;
	height: 80px;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.8em;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
  }
  .side-panel {
	background-color: #20232a;
	position: fixed;
	right: 0;
	width: 18rem;
	height: 59%;
	max-height: 601px;
	place-items: center;
  }
  .ilda-player,
  .world-preview {
	background-color: #000;
	outline: 1px solid var(--theme-color);
	border-radius: 10px;
	display: grid;
	text-align: center;
	width: 97%;
	aspect-ratio: 1 / 1;
	position: relative;
	overflow: hidden;
	margin-top: 2px;
	margin-bottom: 4px;
	height: 49%;
  }
  .middle-bar {
	bottom: 37.7%;
	width: 100%;
	display: grid;
	background-color: #20232a;
	grid-template-columns: 240px auto;
	position: fixed;
	height: 3.5%;
	align-items: center;
  }
  .middle-bar-left-area {
	display: flex;
  }
  .middle-bar-right-area {
	display: flex;
  }
  .bpm-controls {
	position: absolute;
	width: 25%;
  }
  .master-speed-slider {
	position: relative;
	width: 35%;
	left: 100%;
  }
  .bottom-panel {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #20232a;
	height: 35.7%;
	position: fixed;
	bottom: 20px;
	width: 100%;
  }
  .file-browser,
  .generator-panel,
  .effect-panel,
  .settings-panel,
  .dac-panel {
	min-width: 15%;
	background-color: #1a1a1a;
	outline: 1px solid var(--theme-color);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	height: 95%;
	text-align: center;
  }
  .column-headers-container {
	display: flex;
  }
  .column-header {
	width: 11.8%;
	text-align: center;
	padding: 3px;
	background-color: #3a3f47;
	margin-right: 2px;
	margin-left: 2px;
	border-radius: 5px;
	align-items: center;
  }
}





@media only screen and (min-width: 1500px),
       only screen and (min-height: 800px) {
  /* Styles specifically for larger desktops */
  .column-headers-container {
	display: flex;
	padding-bottom: 5px;
	padding-top: 4px;
  }
}

h3 {
  z-index: 2;
  margin: 0;
  margin-bottom: 0.5rem;
}


.fileBrowser {
  margin: 0;
  display: block;
  margin-block-start: .2rem;
  margin-block-end: .2rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.app {
}
.main-content {
}
.left-panel {
  width: 250px;
  background-color: #20232a;
  border-right: 1px solid #3a3f47;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.layer-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden; /* Allow horizontal scrolling for columns */
  background: #20232a;
}

/* Styles for the Laser On/Off Button (checkbox) */

input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
	height: 85%;
	width: 72px;
	background-color: #000000;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border-radius: 5px;
	margin: 0 4px;
}
input[type="checkbox"]:before {
	font-size: 1.5em;
	content: "OFF";
	position: absolute;
	width: 2.75em;
	height: 85%;
	background-color: #3a3f47;
	color: #fff;
	left: 0.14em;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 5px;
	align-items: center;
}
input[type="checkbox"]:checked {
	background: var(--theme-color);
}
input[type="checkbox"]:checked:before {
	content: "ON";
	left: 1.1em;
	color: var(--theme-color);
}
/*end off toggle button*/

/* Other existing styles that might be relevant */
.composition-row {
	width: 250px;
	min-height: 37px;
}
.composition-header-row {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #20232a;
  position: sticky;
  top: 0;
  z-index: 100;
}
.composition-controls-top {
  display: flex;
  align-items: center;
}
.composition-label-button {
  padding: 5px;
  cursor: pointer;
  outline: 1px solid #3a3f47;
  border-radius: 5px;
  margin-left: 6px;
}
.comp-control-button {
  padding: 5px;
  cursor: pointer;
  outline: 1px solid #3a3f47;
  border-radius: 5px;
  margin-left: 4px;
}
.slider {
	width: 100%;
	height: 100%;
}
.full-height {
  height: 92%;
  grid-row: span 2;
  place-content: center;
}
.half-height {
  height: 50%;
}
.layer-control-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-row: span 2
}
.layer-control-label {
  width: auto;
  text-align: left;
  font-size: 0.8em;
}
.layer-blend-dropdown {
	grid-column: span 2;
	background-color: #20232a;
	color: white;
	border: solid 1px var(--theme-color);
	border-radius: 5px;
	cursor: pointer;
}
.layer-intensity-slider {
  flex-grow: 1;
  transform: translate(-40%, 0%) rotate(-90deg);
  width: 5rem;
  height: 1rem;
  margin-left: 4px;
  cursor: pointer;
}
.clip-container {
  display: flex;
  flex-grow: 1;
}
.clip-label {
  font-size: 0.7em;
  cursor: pointer;
}
.preview-area {
  width: 100%;
  flex-grow: 1;
  background-color: #000;
  margin-top: 10px;
  height: 100%;
}
.preview-area canvas {
  width: 100%;
  height: 100%;
  display: block;
}
.ilda-player canvas,
.world-preview canvas {
  display: block;
  aspect-ratio: 1 / 1;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}



.file-browser button {
  background-color: var(--theme-color-transparent);
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
}

.ild-file-list {
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid #3a3f47;
  padding: 5px;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--theme-color) #00000000
}

.ild-file-item {
  padding: 5px;
  border-bottom: 1px solid #3a3f47;
}

.ild-file-item:last-child {
  border-bottom: none;
}

.generator-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.generator-item {
  background-color: #3a3f47;
  padding: 8px 15px;
  border: 1px solid #555;
  cursor: grab;
  border-radius: 4px;
}

.effect-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.effect-item {
  background-color: #3a3f47;
  padding: 8px 15px;
  border: 1px solid #555;
  cursor: grab;
  border-radius: 4px;
}

.applied-effects {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  display: flex;
  gap: 2px;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 0;
  height: auto;
}

.effect-tag {
  background-color: #007bff;
  color: white;
  font-size: 0.6em;
  padding: 2px 4px;
  border-radius: 3px;
}

.generator-display,
.preview-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.clip.selected-clip {
  
}

.clip.active-clip {
  outline: 1px solid var(--theme-color); /* Red outline for active clip */
}




